.login_div1, .login_div2
{
    background: white;
	float: none;
	border-radius: 15px;
}
#login_section
{
    background: white;
	float: none;
	border-radius: 25px;
    margin-top: 200px;
    width: 600px;
    margin-left: 650px;
}
#body_1
{
    background-image: url("Login\ Background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1058px; 
}
h3
{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h5
{
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 25px;
    font-size: 15px;
}
#user_username, #user_password
{
    width: 550px;
}
#login_page_head
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#login_btn
{
    width: 550px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}  
#logout
{
    font-size: 20px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.room_name
{
	cursor: pointer;
	font-size: 20px;
}

#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: white;font-size: 20px;
}


.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: white
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;color:grey;
}